PORT=3000
SERVICE_NAME=gateway
DATABASE_URL=postgres://otracker:otracker@localhost:5432/otracker
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=otracker
KEYDB_HOST=localhost
KEYDB_PORT=6379
EVENTS_API_URL=http://localhost:3333
